:root {
    --color-background: #111827;
    --color-surface: #182235;
    --color-hover: #1E293B;
    --color-border: #1F2937;

    --color-text: #F8FAFC;
    --color-text-secondary: #94A3B8;
    --color-placeholder: #64748B;

    --color-primary: #7C3AED;
    --color-primary-hover: #6D28D9;
    --color-selected: #272052;
    --color-selected-hover: #302660;
    
    --color-danger-background: #3f1d2b;
    --color-danger-text: #fda4af;
}

[data-theme="light"] {
    --color-background: #F8FAFC;
    --color-surface: #FFFFFF;
    --color-hover: #F1F5F9;
    --color-border: #E2E8F0;

    --color-text: #0F172A;
    --color-text-secondary: #64748B;
    --color-placeholder: #94A3B8;

    --color-primary: #7C3AED;
    --color-primary-hover: #6D28D9;
    --color-selected: #EDE9FE;
    --color-selected-hover: #DDD6FE;
}

#root {
    background-color: var(--color-background);
    height: 100%;
    width: 100%;
}

p {
    color: var(--color-text);
}

button {
    color: var(--color-text);
}